<footer>
    <p> footer works! </p>

    <section>
        <button>
            <img src="../../../assets/svg/icons8-close.svg">
        </button>

        <button>
            <img src="../../../assets/svg/add-outline.svg">
        </button>
        <button>
            <img src="../../../assets/svg/checkmark-outline.svg">
        </button>
    </section>

    <section>
        <button>
            <img src="../../../assets/svg/arrow-undo-outline.svg">
        </button>

        <button>
            <img src="../../../assets/svg/trash-outline.svg">
        </button>
    </section>
</footer>