<footer>
    <p> footer works! </p>

    <section>
        <button>
            <!-- <ion-icon name="close-outline"></ion-icon> -->
        </button>

        <button>
            <!-- <ion-icon name="add-outline"></ion-icon> -->
        </button>
        <button>
            <!-- <ion-icon name="checkmark-outline"></ion-icon> -->
        </button>
    </section>

    <section>
        <button>
            <!-- <ion-icon name="arrow-undo-outline"></ion-icon> -->
        </button>

        <button>
            <!-- <ion-icon name="trash-bin-outline"></ion-icon> -->
        </button>
    </section>
</footer>