
<aside #totalViewControl>
    
    <h2> {{ currentListTitle }} </h2>

    <ul #listOfCompletedTasks>
        <li *ngFor="let completedTask of completedTasks">
            <h3> {{ completedTask.title }} </h3>

            <button (click)="restoreCompletedTask(completedTask)">
                <img src="../../../assets/images/icons8-undo-50.png">
            </button>
    
            <button (click)="deleteCompleteTask(completedTask)">
                <img src="../../../assets/svg/icons8-trash.svg">
            </button>
        </li>
    </ul>

    <div #viewButton>
        <button (click)="changeListView(listOfCompletedTasks, listOfDeletedTasks, totalViewControl, viewButton)">
            <img *ngIf="currentListTitle=='Completed'"  src="../../../assets/images/icons8-up-48.png">
            <img *ngIf="currentListTitle=='Deleted'" src="../../../assets/images/icons8-down-48.png">
        </button>
    </div>

    <ul #listOfDeletedTasks>
        <li *ngFor="let deletedTask of deletedTasks">
            <h3> {{ deletedTask.title }} </h3>
            <button (click)="restoreDeletedTask(deletedTask)">
                <img src="../../../assets/images/icons8-undo-50.png">
            </button>
        </li>
    </ul>

</aside>