
aside {
    background-color: var(--primary-mediumdark);

    h2 {
        margin: 0;
        line-height: 70px;
        font-size: 32px;
        text-align: center;
        background-color: var(--primary-verydark);
    }

    ul {
        list-style: none;
        padding: 0;
        background-color: var(--primary-dark);
    }
}