<section>
    <article *ngFor="let task of tasks" #currenttask (click)="onSelect(currenttask)">
        <h3> {{ task?.title }} </h3>
        <p> {{ task?.description }} </p>
        <p> {{ task?.date }} </p>
    </article>
</section>

<div>
    <button>
        <img src="../../../assets/svg/icons8-close.svg">
    </button>

    <button>
        <img src="../../../assets/images/icons8-add-64.png">
    </button>
    
    <button>
        <img src="../../../assets/svg/icons8-done.svg">
    </button>
</div>